<html>
<body>

Здравствуйте. Ваш друг прислал вам ссылку, чтобы вы смогли зарегистрироваться на сайте OnOffline.<br/>

<a href="http://onoffline.ru/auth/signup?referCode=${referCode}">http://onoffline.ru/auth/signup?referCode=${referCode}</a>
</body>
</html>



