<html>
<body>
<h3>Hi, ${fullName}! Welcome to the 3dplenty.com!</h3>
<div>
<strong>Your login:</strong> ${login}<br/>
<strong>Your password:</strong> ${password}<br/>
</div>
<div>Enjoy!</div>
<div><a href="http://todo100.ru:18080/ROOT">http://todo100.ru:18080/ROOT</a></div>
</body>

</html>